<div class="row">
  <div class="col-12">
    <img [src]="recipe.image" alt="{{ recipe.label }}" class="img-fluid" />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.label }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            (click)="onAddToShoppingList()"
            class="dropdown-item cursor-pointer"
            >To Shopping List</a
          >
        </li>
        <li>
          <a class="dropdown-item cursor-pointer" (click)="onEditRecipe()"
            >Edits Recipe</a
          >
        </li>
        <li>
          <a class="dropdown-item cursor-pointer" (click)="onDeleteRecipe()"
            >Delete Recipe</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">Temp Place Holder</div>
</div>
<div class="row">
  <div class="col-12">
    <h3 class="mt-3">Ingredients</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.text }} ({{ ingredient.quantity }})
      </li>
    </ul>
  </div>
</div>
